<h2>New Message</h2>
<form action="/new" method="POST">
    <label for="">
        User:
        <input type="text" name="user">
    </label>
    <label for="">
        Message:
        <input type="text" name="message">
    </label>
    <button type="submit">Submit</button>
</form>