<h2>New Message</h2>
<form action="/new/form" method="/">
    <label for="">
        User:
        <input type="text">
    </label>
    <label for="">
        Message:
        <input type="text">
    </label>
    <button type="submit">Submit</button>
</form>